<!DOCTYPE html>
<html>
    <head>
        <title>Code2Cure</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css"
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
    </head>
<body>

         <div id="header">
                    
            
                <strong><a style="color:black" href="/dashboard">BACK TO DASHBOARD</a></strong>
        
            </div>
        
        <div id="chat">
            <% var messageKeys = Object.keys(messages)  %>
            <% messageKeys.forEach(function(key){ %>
                <%= messages[key].name %>: <%= messages[key].text %>

            <% }) %>
            </div>
            
             <div class = "container" style="height:70px;width:60%;overflow:auto;background-color:grey;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;">
                 <h1>CHAT ROOM</h1>
            </div>
            <div id="chatHolder" class = "container" style="height:500px;width:60%;overflow:auto;background-color:pink;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;">
                        
            </div>
            <div class = "container" style="height:70px;width:60%;overflow:auto;background-color:grey;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;">
            
                        <div class = "inputbox" class="input-box">
                                            <form>
                                              Enter your message:<br>
                                              <input type="text" name="message"><br>
                                            </form>
                                            </div>
            </div>
            
            
                  <!--  <div id="footer">-->
                  <!--<p class="footer-block">-->
            
                     <!--</p>-->
                     <!-- </div>-->
                     
            </div>
                    
                    
            
            
            


</body>
</html>