<!DOCTYPE html>
<html>
    <head>
        <title>Code2Cure</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
<body style="background-color:#FBEFF2;">


         <div id="header">

         
                    
            
                <strong><a style="color:black" href="/">BACK TO MAIN SITE</a></strong>
        
            </div>
            
            <div style="text-align:center;" class="page-header course container">
          <h1 style="color:#eb005e"><br>Your Dashboard <br> <small>Welcome, <%= email %>!</small><br></h1><h6><a href="/login">Sign Out</=</h6>
        </div>
        <br><br>
        <div class="container course">
                    <div style="background-color:pink" class="jumbotron">
                              Your Lesson Progress
                                <div class="progress">
                               
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">Your Lesson Progress</span>
                                  </div>
                                </div>
                              <p><br>Your Course: Javascript fundamentals<br><a class="btn btn-primary btn-lg" href="#" role="button">Go to course</a></p>
                 </div> 
         </div>
          <div class="container course">
                    <div style="background-color:pink" class="jumbotron">
                            Questions? Need a break? Chat with other coders and girls like you!<a href = "/chat"><h2>Chat Room<h2></a>    
                 </div> 
         </div>
            

         <!--<img src='<%= photoUrl %>'/>-->
         
         
          
     
       
        
        
    



</body>
</html>