<!DOCTYPE html>
<html>
     <head>
    <link rel="stylesheet" href="css/pages.css">
       <div>
       <img id="headpicture6" src="images/la.jpg" alt="..." width=20% height=20% align= "middle"></img>
       </div>
    </head>
    <body style="background-color:#FBEFF2;">
    <div id="header">
                    
            
                <strong><a style="color:black" href="/">HOME</a></strong>
        
            </div>
       <div> 
    <h1 id="donate"><strong>Donate!</strong></h1>
    </div> 
    <div>
        <p id="paragraph6">You have made it to our donation page! Your donation will help bring together inpatient teenage girls with computer science mentors! </p>
    </div>
    </body>
</html>