<!DOCTYPE html>
<html>
     <head>
    <link rel="stylesheet" href="css/pages.css">
    <link rel="stylesheet" href="css/founders.css">
       
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    </head>
    <body bgcolor= "#FBEFF2">
    
    <div id="header">
                    
            
                <strong><a style="color:black" href="/">HOME</a></strong>
        
            </div>
            
            <div style="text-align:center">
            
       <img id="headpicture2" src="images/triopic1.jpeg" alt="..." width=20% height=20% align= "middle"></img>
       <h2 id="founders"><strong>FOUNDERS</strong></h2>
       </div>
       <div> 
    
    </div> 
    <div>
        <p id="paragraph2">

 </p>
    </div>
    
    <div class = "row">
        
         <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="images/tallieprof.jpeg" height="477px">
            </div>
            <div class="card-content">
              <p>Tallie Elisha</p>
            </div>
            <div class="card-action">
              TALLIE is going into her junior year of high school in Short Hills, New Jersey. She loves coding virtual reality worlds, volunteering at her local hospital, and playing lacrosse in her free time.<a target="_blank" href="https://www.instagram.com/tallie_elisha/">Tallie's Instagram</a>
            </div>
          </div>
        </div>
        
        
             <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="images/alexisprof.jpeg" height="477px">
            </div>
            <div class="card-content">
              <p>Alexis Dornan</p>
            </div>
            <div class="card-action">
              ALEXIS is joining the Class of 2021 at Yale University this fall. She is from Los Angeles, California, and enjoys front-end design, cardio dancing, and creating gluten-free confections. <a target="_blank" href="https://www.instagram.com/alexis_dornan/">Alexis' Instagram</a>
            </div>
          </div>
        </div> 
        
        
         <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="images/elaprof.jpg" height="477px">
            </div>
            <div class="card-content">
              <p>Ela Passarelli</p>
            </div>
            <div class="card-action">
              ELA is about to begin her senior year of high school at Hathaway Brown School in Cleveland, Ohio. She loves coding in back-end languages, movies, and bubble tea! <a target="_blank" href="https://www.instagram.com/elapassarelli/">Ela's Instagram</a>
            </div>
          </div>
        </div>
        
        </div>
  
    </body>
</html>