<!DOCTYPE html>
<html>
     <head>
    <link rel="stylesheet" href="css/pages.css">
       <div>
       <img id="headpicture3" src="images/work.jpg" alt="..." width=20% height=20% align= "middle"></img>
       </div>
    </head>
    <body style="background-color:#FBEFF2;">
    <div id="header">
                    
            
                <strong><a style="color:black" href="/">HOME</a></strong>
        
            </div>
       <div> 
    <h1 id="Gallery"><strong>Gallery</strong></h1>
    </div> 
    <div>
        <p id="paragraph3">Pictures will be up and running soon! </p>
    </div>
    </body>
</html>