<!DOCTYPE html>
<html>
     <head>
    <link rel="stylesheet" href="css/pages.css">
    </head>
    <body background-color="#FBEFF2">
    <div id="header">
                    
            
                <strong><a style="color:black" href="/">HOME</a></strong>
        
            </div>
       <div>
       <img id="headpicture4" src="images/gals.jpg" alt="..." width=20% height=20% align= "middle"></img>
       </div>        
       <div> 
    <h1 id="girls"><strong>Girls in C2C</strong></h1>
    </div> 
    <div>
        <p id="paragraph3">User Profiles will be up and running soon!</p>
    </div>
    </body>
</html>