<!DOCTYPE html>
<html>


    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
 
     
    </head>

   
    
    <body>

        <div id="header">
            
    
        <strong><a id="signIn" href="/login">SIGN IN</a></strong>
        
        </div>
        <div id="code2cure" class="row">
                 <h1 id="name"><strong>CODE2CURE</strong></h1>
             </div>
        
         <div class="main container">
             
            <div class="row" >
              <div class="col-3 images">
                <a class="thumbnail" href="/founders" >
                  <img class = "gridpic" id = "ahhpic" src="images/founderpic.png" alt="founder pic" />
                </a>
              </div>
              <div class="col-3 images">
                <a href="/mission" class = "thumbnail" >
                  <img class = "gridpic" id = "aldfpic" src="images/aldf1.png" alt="mission pic">
                </a>
              </div>
              <div class="col-3 images">
                <a href="/girls" class = "thumbnail">
                  <img class = "gridpic" id = "galspic" src="images/gals1.jpg" alt="girls pic">
                </a>
              </div>
            </div>
            
              <div class="row">
              <div class="col-3">
                <a href="/mentors" class="thumbnail">
                  <img class = "gridpic" id = "elapic" src="images/ela1.jpg" alt="mentors pic">
                </a>
              </div>
              <div class="col-3">
                <a href="/gallery" class="thumbnail">
                  <img class = "gridpic" id = "workpic" src="images/work1.jpg" alt="work pic">
                </a>
              </div>
              <div class="col-3">
                <a href="/donate" class="thumbnail">
                  <img class = "gridpic" id = "lapic" src="images/la1.jpg" alt="donate pic">
                </a>
              </div>
            </div>
             
         </div>
         
         </div>
         
        
        <div id="footer">
      <p class="footer-block">
             <a class="grey-text text-lighten-3" target="_blank" href="https://www.youtube.com/channel/UCH5Qu8Sd-m-7Zk4xc_J5VzA" id = "contact"><i class="fa fa-youtube fa-3x " aria-hidden="true"></i></a>
               
               
              <a class="grey-text text-lighten-3" target="_blank" href="https://twitter.com/kodewithklossy?lang=en" id = "contact"><i class="fa fa-twitter fa-3x " aria-hidden="true"></i></a>
               
              <a class="grey-text text-lighten-3" target="_blank" href="https://www.instagram.com/kodewithklossy/?hl=en" id = "contact"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
               
                <a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/kodewithklossy/" id = "contact"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
          
            
            <ul>             
                 <p><strong>CONTACT US</strong></p>
                        <p> <a href="mailto:code2curee@gmail.com" id = "contact">CODE2CUREE@GMAIL.COM</a>  </p>
            </ul>
       </p>
  </div>
         
    
    
    
    
    
    
<!--    <div class="row">-->
<!--  <div class="col-lg-4 col-lg-offset-6 col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">-->
<!--  .col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>-->
<!--</div>-->
    
    </body>
    
    
</html>