<!DOCTYPE html>
<html>
     <head>
    <link rel="stylesheet" href="css/pages.css">
       <div>
       <img id="headpicture5" src="images/ela.jpg" alt="..." width=20% height=20% align= "middle"></img>
       </div>
    </head>
    <body bgcolor="#FBEFF2">
    <div id="header">
                    
            
                <strong><a style="color:black" href="/">HOME</a></strong>
        
            </div>
       <div> 
    <h1 id="mentors"><strong>MENTORS</strong></h1>
    </div> 
    <div>
        <p id="paragraph">These are our mentors!</p></p>
    </div>
    </body>
</html>