<!DOCTYPE html>
<html>
     <head>
    <link rel="stylesheet" href="css/pages.css">
       <div>
       <img id="headpicture" src="images/aldf.jpg" alt="..." width=20% height=20% align= "middle"></img>
       </div>
    </head>
    <body bgcolor="#FBEFF2">
    <div id="header">
                    
            
                <strong><a style="color:black" href="/">HOME</a></strong>
        
            </div>
       <div> 
    <h1 id="ourmission"><strong>Our mission</strong></h1>
    </div> 
    <div>
        <p id="paragraph">Ela, Alexis, and Tallie founded Code2Cure after learning about the need for women in technology at a summer program, Kode With Klossy. They realized the things women need most to succeed in computer science is time, commitment, and support. To start their work, they wanted to focus on a small demographic of young women. Tallie has been working with young cancer patients for years through her organization Catwalk4Cancer. One of the problems cancer patients, and hospital inpatients in general, run into is that they are stuck in a hospital bed, therefore missing out on quality time with peers and education. They realized that these young women were the perfect candidates to introduce coding to, as they have a lot of time to work on lessons and projects. We also want to connect these women to each other so they can form meaningful relationships and join the community of women in technology. 
	 </p>
    </div>
    </body>
</html>