#headpicture{
    
    display: block;
    margin-left: auto;
    margin-right: auto
}


#ourmission{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 5.7em
    
}

#paragraph{
    display: block;
    margin-left: auto;
    margin-right: auto
    
    
}

#headpicture2{
    
    display: block;
    margin-left: auto;
    margin-right: auto
}

#founders{
    margin-left: auto;
    margin-right: auto;
    width: 5.7em
    
    
}

#paragraph2{
    display: block;
    margin-left: auto;
    margin-right: auto
    
    
}

#headpicture3{
    
    display: block;
    margin-left: auto;
    margin-right: auto
}

#Gallery{
    margin-left: auto;
    margin-right: auto;
    width: 5.7em
    
}

#paragraph3{
    display: block;
    margin-left: auto;
    margin-right: auto
    
    
}

#headpicture4{
    
    display: block;
    margin-left: auto;
    margin-right: auto
}

#girls{
    margin-left: auto;
    margin-right: auto;
    width: 5.7em
    
}

#paragraph4{
    display: block;
    margin-left: auto;
    margin-right: auto
    
    
}

#headpicture5{
    
    display: block;
    margin-left: auto;
    margin-right: auto
}

#mentors{
    margin-left: auto;
    margin-right: auto;
    width: 5.7em
    
}

#paragraph5{
    display: block;
    margin-left: auto;
    margin-right: auto
    
    
}

#headpicture6{
    
    display: block;
    margin-left: auto;
    margin-right: auto
}

#donate{
    margin-left: auto;
    margin-right: auto;
    width: 5.7em
    
}

#paragraph6{
    display: block;
    margin-left: auto;
    margin-right: auto
    
    
}