#code2cure {
    display:block;
   text-align: center;
   
    
}

.main {
     margin-left: auto;
    margin-right: auto;
    
}

#signIn {
    color: black;
    
}

.grid-holder{
    width: 0%;
    margin: auto;
    
}

#header {
    margin: 7px;
    
}

/*#collumn1*/
/*{*/
/*    margin-left: 20%;*/
    
/*}*/

/*#collumn2*/
/*{*/
/*    margin-left: 40%;*/
    
/*}*/

/*#collumn3*/
/*{*/
/*    margin-left: 40%; */
    
/*}*/

.thumbnail
{
    
    /*width: 3em; */
    /*padding: 0px;*/
    /*margin: 0%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 100%;
}


/*#workpic {*/
/*    position: absolute;*/
/*    height: 240px;*/
/*    width: 100%*/
/*}*/

/*#elapic {*/
/*    position: absolute;*/
/*    height: 240px;*/
/*    width: 100%;*/
/*}*/


/*#lapic {*/
/*    position: absolute;*/
/*    height: 240px;*/
/*    width: 100%;*/
/*}*/

/*#aldfpic {*/
/*    position: absolute;*/
/*    height: 240px;*/
/*    width: 100%;*/
/*}*/


/*#ahhpic {*/
/*    position: absolute;*/
/*    height: 240px;*/
/*    width: 100%;*/
/*}*/

/*#galspic {*/
/*    position: absolute;*/
/*    height: 240px;*/
/*    width: 100%;*/
/*}*/
.gridpic{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top:10px;
    padding-left:10px;
}



.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 50px;
}

.main.container{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#contact {
    color: black;
    
}

p {
    line-height: 10%
}

.grey-text.text-lighten-3{
    float: right;
    margin: 10px;
}

#footer {
    bottom: 0;
    width: 100%;
    position: absolute;

    }
    
/*#name {*/
/*    padding-top: 3%;*/
    
/*}*/

#name {
    font-size: 350%;
}

#chat {
    
    text-align: center;
}

/*.inputbox {*/
/*    text-align:center;*/
    
/*}*/

.course {
    
width: 60%;
    
}

